<form action="/update-config" method="POST">
    <label for="token">Bot Token:</label>
    <input type="text" id="token" name="token" value="<%= token %>"><br>
  
    <label for="prefix">Prefix:</label>
    <input type="text" id="prefix" name="prefix" value="<%= prefix %>"><br>
  
    <label for="adminID">Admin Discord ID:</label>
    <input type="text" id="adminID" name="adminID" value="<%= adminID %>"><br>
  
    <label for="ownerID">Owner ID:</label>
    <input type="text" id="ownerID" name="ownerID" value="<%= ownerID %>"><br>
  
    <button type="submit">Speichern</button>
  </form>
  